---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Ege, a junior in high school from Turkey who is also a software
      engineer that loves pushing the limits of creativity.
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>JavaScript / TypeScript</li>
        <li>React</li>
        <li>Flutter</li>
        <li>Go</li>
        <li>Python</li>
        <li>PostgreSQL</li>
        <li>MongoDB</li>
        <li>Prisma</li>
        <li>MySQL</li>
        <li>Node.js</li>
        <li>Git</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      In addition to my technical skills, I'm the team captain of a pro
      basketball U18 team. If I'm not doing both, I play the guitar and upload
      rock & and roll, acoustic, and metal music covers to my social media.
    </p>
  </div>
</Card>
